body {
            font-family: Arial, sans-serif;
             background: linear-gradient(to right, #6b11cbaf, #2574fcd8);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-container {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background: #2575fc;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #6a11cb;
        }
        .hidden {
            display: none;
        }
        .toggle {
            color: #2575fc;
            cursor: pointer;
            text-decoration: underline;
        }
        .toggle:hover {
            color: #6a11cb;
        }
        #status {
            color: red;
            font-weight: bold;
        }
		

