header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background: forestgreen;
}

.home-btn {
    padding: 10px 20px;
    background: white;
    color: #6e8efb;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.home-btn:hover {
    background: #a777e3;
    color: white;

}

/* Form Container Styles */
.form-container {
    width: 350px;
    padding: 30px;
    background: wheat;
    border-radius: 10px;
    box-shadow: 0 8px 20px red;
    text-align: center;
    margin: 50px auto;
}

h2 {
    margin-bottom: 20px;
}

/* Form Group Styles */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
/* Button Styles */
.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #6e8efb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background: #a777e3;
    transform: scale(1.05);
}